[submodule "extras/modules/codeigniter"]
	path = extras/modules/codeigniter
	url = https://github.com/paolooo/puppet-codeigniter.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/paolooo/puppet.git
